[2018-07-02 15:11] jeremyabrahams opened #1 "3rd level children not showing up in dump()"
I've created a simple nav.
3 levels deep only using a custom URL for testing simplicity.
![screen shot 2018-07-02 at 11 00 34 am](https://user-images.githubusercontent.com/1126912/42171413-3aa87026-7de7-11e8-8c62-0e7843d13470.png)

I wasn't getting my 3rd level link "Level-3" (above) to display. I tried a couple different versions of macros I had up my sleeve along with the snippet you provide in

[2018-07-02 15:45] janhenckens commented on #1
Thanks for that, I'll have a look right away :)

(Note that the plugin hasn't been released yet so there might be some things that aren't working. Hoping to have it in the store by the end of the week)

[2018-07-02 16:38] #1 closed

[2018-07-02 16:39] janhenckens commented on #1
Hey Jeremy,
This should work now. Can you update and give it a go? Thanks!

[2018-07-02 17:55] jeremyabrahams commented on #1
Works perfect, thank you!

[2018-07-02 17:58] jeremyabrahams opened #2 "[Request] Make name in CP clickable to entry"
![4556d5f437e54d78ca13ab51e28651ce _screen shot 2018-07-02 at 1 54 30 pm](https://user-images.githubusercontent.com/1126912/42178810-b7d20e28-7dff-11e8-93f1-0bd9709941fe.png)

It would be a really nice feature for my content admins to be able to use this as a pseudo site map. If they could click on the node's name and be taken to that entry (or open the custom URL popup) right from the `admin/navi

[2018-07-03 05:48] janhenckens commented on #2
Opening the entry in a new tab is something that should be easy enough, and show the edit popover for custom urls too.

Adding it to the list for 1.1, focusing on actually shipping it first :)

[2018-07-03 07:31] janhenckens opened #4 "Entries modal crashes when there is no site with handle "Default""
Should be fixed here: https://github.com/studioespresso/craft3-navigate/blob/develop/src/assetbundles/navigate/dist/js/Navigate.js#L31

[2018-07-03 17:56] janhenckens commented on #4
Fixed in 320804e82b487713a1a00b3511813cde7f62dab0

[2018-07-03 17:56] #4 closed

[2018-07-05 16:23] janhenckens opened #5 "[Request] Add dutch translations"

[2018-07-05 23:47] richhayler commented on #2
This would also help understand which entry a links actually refers to in the CP. Once you have created the link you have no way to tell in the control panel which entry the link actually points to or the option to change that without having to delete the link and recreate it.

[2018-07-05 23:51] richhayler opened #6 "Multi Site Dropdown"
On the "Navigate > Entry" screen in the CP, selecting a site from the dropdown list causes the site list to be reordered. Selecting a different site change the order again. I have 5 sites so its very noticeable when switching between them that the order is not consistent with the rest of the CP UI where this dropdown is displayed.

[2018-07-06 08:26] Rias500 opened #7 "[FR] Focus first field when adding URL"
When adding an URL it would be nice to have the `name` field focused so you can start typing right away

[2018-07-06 13:06] janhenckens opened #8 "Node types styling issue in Chrome & FF"
![screen shot 2018-07-06 at 15 06 00](https://user-images.githubusercontent.com/755428/42380429-2e551b0e-812e-11e8-9a75-8410aa40d992.png)

[2018-07-07 07:37] #8 closed

[2018-07-07 12:41] janhenckens commented on #7
Fixed! Should be out with 1.0.1 by Monday :)

[2018-07-07 12:41] #7 closed

[2018-07-11 08:42] janhenckens opened #9 "Navigations overview crashes on adminOnly() field"

[2018-07-17 14:27] chrisrowe opened #10 "active when url is a child url"
I'd love to have top level nav items show as active if I'm on a url which is clearly a child, even if the child isn't defined in the plugin.

e.g. `<a href="/foo" class="active">Foo</a>` when the full url is `/foo/bar`.

[2018-07-17 17:33] janhenckens commented on #10
Hey Chris, that should be possible :)
Are you using one of the render functions or printing the navigation yourself?

[2018-07-18 09:31] chrisrowe commented on #10
@janhenckens At the moment I'm doing the navigation myself, but either would be fine. Just getting access to `node.slug` would help a lot.

[2018-07-18 17:52] janhenckens commented on #10
Gotcha! Pushed the changes to fix this, will release an update by the end of the week.

Thanks for suggesting this!

[2018-07-21 11:28] #10 closed, assigned to janhenckens

[2018-07-21 11:29] janhenckens commented on #5
Added in 1.1.0

[2018-07-21 11:29] #5 closed

[2018-07-21 11:30] janhenckens commented on #2
Added in 1.1.0!

[2018-07-21 11:30] #2 closed

[2018-07-23 14:26] camilleb opened #11 "Error when an entry referenced in navigation no longer exists"
Error is

in `src/services/NodesService.php` line 84.

Obviously, the error disappear when we removed the old entry in the navigation, but maybe add a test on `$element` could prevent this error.

[2018-07-23 14:48] janhenckens commented on #11
Thanks for reporting that!
Fixed in 92ab1742e98ef7f772410e14e2a3ca39c76b8d79. Update will be out by tomorrow evening.

[2018-07-24 10:11] jan-dh opened #12 "Setting unknown property: studioespresso\navigate\models\NavigationModel::defaultNodeType"
I get this error when I try to access a navigation item.

`throw new UnknownPropertyException('Setting unknown property: ' . get_class($this) . '::' . $name);` on line 209.

[2018-07-24 11:20] jan-dh commented on #12
![image](https://user-images.githubusercontent.com/5801781/43135039-567605b6-8f44-11e8-8959-258c3dbf9a41.png)

When I try to click on one of these items.

[2018-07-24 14:09] janhenckens commented on #12
Hey Jan
Are you on the last version of the plugin (1.1.0)?
And could you try running `./craft migrate/up --plugin=navigate` to run the migration included in the last update? Should run on install/update but maybe something went wrong.

[2018-07-24 17:39] janhenckens commented on #12
That's very strange, running this (`./craft migrate/up --plugin=navigate`) works on my test site so if your site have the plugin installed that should work...

[2018-07-24 18:00] janhenckens commented on #12
Could you copy/paste me the line for the plugin in your composer.json? Should give me a clearer view on what you have installed.

[2018-07-24 18:39] jan-dh commented on #12
composer.json:
[code]
Like this?

[2018-07-24 18:48] janhenckens commented on #12
Yep, but that all looks good. Could you try reinstalled the plugin to see if the problem persists? (make a backup of the database cause the navigation & nodes will be removed on uninstall)

[2018-07-25 18:22] janhenckens commented on #11
Released 1.1.1 with this fix just now.
Thanks for using my plugin! Feel free to make an issue for any other issues or suggestions you have :)

[2018-07-25 18:22] #11 closed

[2018-07-26 19:48] janhenckens commented on #12
Hey Jan
Could you try the following?
Remove the migration for `m180720_174411_removeDefaultTypeField` from the `migrations` table in your project and run `./craft migrate/up --plugin=navigate` again?

Had the same issue on a project here where it said the migration had run but the column was still in the table.

[2018-07-30 07:20] nicolasbinet commented on #12
I had the same issue with version 1.1.1
Re-running the "./craft migrate/up --plugin=navigate" command solved the problem for me.

[2018-07-30 07:33] janhenckens commented on #12
Thanks for letting me know Nicolas! Looks like the migration isn't always being run on update.
Investigating further! 🕵🏻‍♂️

[2018-07-30 10:23] jan-dh commented on #12
Fixed the issue of the plugin commands not being available in the CLI and got it to work with the `./craft migrate/up --plugin=navigate`.

[2018-08-19 17:11] #9 closed

[2018-08-28 10:12] i-just opened #13 "Editing nav containing deleted element throws error"
When trying to edit a nav which contains deleted element, I get the following error:

[code]

I'm using Navigate v1.1.1. Can you please have a look into it?

[2018-08-29 20:47] janhenckens commented on #13
Thanks for catching this!
I’m on holiday at the moment, will be back on Sunday. Fix should be out soon after!

[2018-09-03 07:51] i-just commented on #13
Hi Jan,

Hope you had great holiday. Thanks for pushing a fix. Could you also apply
it to when a category is missing (lines 67-69)?

Thanks,
Iwona

On Sun, 2 Sep 2018 at 16:32, Jan Henckens <notifications@github.com> wrote:

[2018-09-03 08:18] janhenckens commented on #13
Ha yes, will do! That's the downside of quick fixes when the brain is still in holiday mode :)
Coming right up!

[2018-09-03 08:30] janhenckens commented on #13
Fixed in 1.1.3. Should be in the store soonish, there are some issues with updates coming through there so hang on for a bit.

[2018-09-03 12:40] janhenckens commented on #13
It's in the store!

Thanks again for reporting this and for using my plugin :)

[2018-09-03 12:40] #13 closed

[2018-09-04 08:02] i-just commented on #13
Great, thanks!

[2018-09-07 11:35] carolineboeykens opened #14 "2 nodes active because same word in title"
<img width="1026" alt="screen shot 2018-09-07 at 13 33 10" src="https://user-images.githubusercontent.com/42932673/45217000-d3a43400-b2a2-11e8-9145-1282e3a5a456.png">

Because 'research' is in the title it sets the node 'research' on active while it is not a parent.

[2018-09-08 17:26] janhenckens commented on #14
Related to #10

[2018-09-10 17:45] #14 closed

[2018-09-12 19:36] janhenckens commented on #12
This one is *finally* fixed now. Had to remove the field from the initial migration as well.

[2018-09-12 19:36] #12 closed

[2018-10-04 23:30] piotrpog opened #15 "Category node label css issues"
Word "category" is too long for category type label div. This is how it looks like:
https://imgur.com/a/jQqDULB

[2018-10-10 12:13] janhenckens opened #16 "Removing node doesn't clear cache"
Steps to reproduce
- Build a navigation
- View it on the frontend
- Remove a node from it
- Frontend will still have the removed node

[2018-10-10 19:12] janhenckens commented on #16
Fixed in 55efb61acc34b164c0ec99f40a3aa6bd350fcbb5

[2018-10-10 19:12] #16 closed

[2018-10-20 09:53] NickToye opened #17 "Home node"
My home navigation doesn't register an active state because unlike 'about', 'contact' etc...  it doesn't have a matching node in the url.  Unless I put the url as 'home' which I don't want to do.

Please advise.

[2018-10-20 10:19] janhenckens commented on #17
Hey Nick

Can you share how you're printing the navigation in your template? Thanks!

[2018-10-20 19:55] NickToye commented on #17
Hi Jan,

code snippet below:

`{% set nav = craft.navigate.raw('mainNavigation') %}
    {% import _self as macros %}
    {% macro renderNode(node) %}
        {% import _self as macros %}
        <li class="o-list-inline__item  u-padding-horizontal {% if node.classes|length %}{{ node.classes }}{% endif %}">
            <a href="{{ node.url }}" class="{% if node.active %}active{% endif %}"

[2018-10-22 09:38] janhenckens commented on #17
That seems correct, and when I try to reproduce this on my end it works for the homepage node.
Let me see if you understand your navigation: "home" is in the nav, but it links to the homepage, so to `/` of the site?

Could you maybe also post the HTML that the snippet above is rendering?

[2018-10-22 20:13] NickToye commented on #17
[code]

[2018-10-22 20:13] NickToye commented on #17
Is it because I am on localhost?

[2018-10-23 16:29] janhenckens commented on #17
Can you try if the active state works on an actual url? (pixels.local in your case)

[2018-10-23 16:42] NickToye commented on #17
Jan, yeah sorry it does work, I think I mentioned in the previous comment.  You can probably close this issue as its not really an issue, unless you feel you want it to work on localhost?

[2018-10-23 18:35] janhenckens commented on #17
No worries, just making sure.
Yeah, the craft functions I'm using to check the url probably don't play well with localhost:3000. I'll close this for now

[2018-10-23 18:35] #17 closed

[2018-11-16 13:54] jan-dh opened #18 "Feature request: Using variables in the custom url"
Would be nice if we could use some of Craft's variables like `@web` in the custom url routes.

[2018-11-19 16:44] jan-dh commented on #18
Yes, gave it a try and get an error:

yii\web\BadRequestHttpException: Request must accept JSON in response in
HTTP 400 – Bad Request – yii\web\BadRequestHttpException
Request must accept JSON in response

I tried `{@web}` and `{@siteUrl}`.

![image](https://user-images.githubusercontent.com/5801781/48721745-cdc3bb00-ec22-11e8-995c-3fb474f5872a.png)

[2018-11-19 16:48] janhenckens commented on #18
Did you have that when changing the navigation in the CP or on the frontend?

[2018-11-20 07:49] jan-dh commented on #18
I'm able to save the custom urls now. The variables are not being parsed yet though.

A custom url like `{@web}/contact` is output like this: `%7B@web%7D/contact`

[2018-11-20 07:56] janhenckens commented on #18
Craft aliases don't need the curly braces around them in urls, could you try with just `@web/contact`?

[2018-11-20 09:00] jan-dh commented on #18
Nice, the aliases work now. Would it be possible to also add some of the [global variables](https://docs.craftcms.com/v3/dev/global-variables.html#craft)? Because `@web ` just returns the url to the folder. In a setup with multiple sites, the `{siteUrl}` is a more valuable resource for navigation.

[2018-11-22 08:53] janhenckens commented on #18
This should work in the latest release, although be careful as it won't catch any errors on non-existent variables or variables that are arrays. For a multi site siteUrl, you'll need to do `{ siteUrl[currentSite.handle] }`. Only variables from `config/general.php` are available here.

@jan-dh Can you have it a try?

[2018-12-02 16:31] janhenckens commented on #18
Hey @jan-dh, is this working for you?

[2018-12-07 19:35] #15 closed

[2018-12-13 08:35] jan-dh commented on #18
@janhenckens this is working, but it's not really want I had in mind when I made the PR. The nice part about these Craft default variables is the fact that they are available everywhere without the need of any extra configuration. This way the author can use these variables without having to dive in to the code.

[2018-12-13 09:06] janhenckens commented on #18
Not sure what you mean here, you can use `{ siteUrl }` without issue. Or would you expect the autocomplete from 3.1 here?

[2018-12-13 09:41] jan-dh commented on #18
Nevermind, think I misread your comment about "only variabes from ...". Thought it meant that you needed to define them there first. Nice, this really brings the plugin to another level. Great job!

[2018-12-18 09:20] janhenckens opened #19 "Reordering nodes sometimes errors on building cache"

[2019-01-16 18:21] #19 closed

[2019-01-30 13:16] janhenckens opened #20 "Disabled child nodes are not excluded from frontend querries"
Should be fixed in [this](https://github.com/studioespresso/craft3-navigate/blob/master/src/services/NodesService.php#L167) query.

[2019-01-30 16:17] janhenckens commented on #20
Fixed in both 2.0.1 & 1.4.1

[2019-02-07 13:22] janhenckens opened #21 "Disabled elements should not shown in frontend"

[2019-02-07 13:22] janhenckens opened #22 "Handle disabled/enabled/hidden entries better in the CP"

[2019-02-14 14:26] i-just opened #23 "Multi-site setup; user with access to one of the sites; nav lists and allows to pick only from the primary site"
I have a Craft 3 website which has multiple sites. For all the sections "Propagate entries across all enabled sites?" is turned off (meaning each site has independant entries).
- For admins (so users who have access to everything) all works well.
- For users who have access to just one site, when editing a navigation, user is presented with the navigation for the primary site and not the site they

[2019-02-14 14:57] janhenckens commented on #23
Hey! Thanks for taking the time to report this and for the full write-up!
I'll try to get through this over the weekend.

[2019-02-14 15:07] janhenckens commented on #23
@i-just Could the explain this a bit further:

Would you expect it to only show entries for the site you're editing the navigation for?

[2019-02-14 16:16] i-just commented on #23
@janhenckens, sure, no problem.

Yes, in a nutshell, I'd ecpect it to only show entries for the site user is editing the navigation for. (The DE navigation shouldn't link to EN or NL entries.)

**Longer description:**
The website has 3 sites: EN, DE and NL. User is allowed to access EN and DE sites. User goes to the Navigation section in admin and edits one of the navs. At the top of the nav edit

[2019-02-16 11:36] janhenckens commented on #23
Gotcha, removing the sites menu there is probably a good idea.

I fixed the first part of your second point but I can't reproduce the second part of it (after "Also, ..). With access to 1 site in an install with 3+ sites, I'm still seeing entries from the one site I have access too. Can you maybe add some screenshots of what you are seeing and what's wrong about it?

Thanks again!

[2019-02-19 08:49] i-just commented on #23
Hi Jan, sorry for a late reply. Thank you for looking into it!
Here are some screenshots that will hopefully make it easier to reproduce.

- User with access to only 1 site (NL), sees the EN navigation when they go to edit (that's the one you mentioned you're able to replicate)
<img width="1198" alt="screen shot 2019-02-19 at 08 38 43" src="https://user-images.githubusercontent.com/4500340/5300141

[2019-02-19 09:24] janhenckens commented on #23
Awesome, thanks for that! Will have a look tonight.

[2019-02-19 20:41] janhenckens commented on #23
Hey @i-just, still not able to reproduce this. Would you be willing to call/screenshare so I can have a look at the site & section setup on this site directly? Feel free to reach out on the Craft Discord group as well, that's a bit faster for 1-on-1 communication :) Thanks!

[2019-02-20 13:48] i-just commented on #23
Hi @janhenckens, I've just installed the develop branch of the plugin and I can't replicate the issue there either. I guess your fix for the first part also fixed the second part of the issue. Tested with both: a user who has access to just one site and a user who has access to two. Thanks again for looking into it!

[2019-02-20 17:31] janhenckens commented on #23
That's good to hear :) I'll try to get a release out by the end of the week!

[2019-02-21 19:02] janhenckens commented on #23
Just released 2.0.2 with in it. Could you try if it's still ok with that installed?

[2019-02-21 19:03] janhenckens commented on #21
Out in 2.0.2

[2019-02-21 19:03] #21 closed

[2019-02-21 19:05] #23 closed

[2019-03-11 09:09] janhenckens opened #24 "Navigation handle not unique issue"
Fix caching here: https://github.com/studioespresso/craft3-navigate/blob/master/src/services/NavigateService.php#L53

[2019-03-13 10:54] janhenckens opened #25 "Clear Blitz Cache when we clear the ofther caches"
https://github.com/putyourlightson/craft-blitz

[2019-03-19 19:37] janhenckens commented on #25
Added in 2.1.0

[2019-03-19 19:37] #25 closed

[2019-03-20 20:28] #24 closed

[2019-03-26 07:55] jan-dh opened #26 "Composer update does not pick-up plugin updates"
Running `composer update` doesn't pick up any changes in the plugin.

I'm currently on version `2.0.2`. The admin panel shows me the next releases:

[code]

[2019-03-26 07:58] janhenckens commented on #26
Strange, packagist has those tags so it should work: https://packagist.org/packages/studioespresso/craft-navigate

Could you send me your composer.json & .lock file so I can try to reproduce it?

[2019-03-26 08:00] jan-dh commented on #26
Yep, coming your way.

[2019-03-26 18:06] janhenckens commented on #26
Your composer.json requires the plugin at exactly 2.0.2:

`"studioespresso/craft-navigate": "2.0.2"`

which is why it isn't picking up the updates through composer. Updates should work through `./craft update` or by updating in the CP. Or you could change the version in your composer.json to `^2.0.0`.

Feel free to ping me if it doesn't work out!

[2019-03-26 18:06] #26 closed

[2019-05-13 06:43] wietsedecnijf opened #27 "Migration for amnav"

[2019-05-15 18:40] janhenckens opened #28 "Add full node options to type modal"
URL nodes now only have a url & a title, but not the option to add a class or make it open in a new window.

[2019-07-18 09:24] jan-dh opened #29 "FR: Titles"
Would be nice to have the option to add titles in between menu's. Atm we sometimes have big footer menu's with some subtitles. Subtitles go into translatables now and it's a bit of a hassle to template.

[2019-07-22 11:10] carolineboeykens opened #30 "FR: enable nav for site"
Feature request:
We have a multi site and we can edit each navigation for each site now.
But the footer navigation should not be enabled for the primary website because it is not used there. Would this be possible in the future?

[2019-07-24 10:19] janhenckens commented on #30
Could try not adding any items to the footer navigation for the primary site?

That way the conditional `{% if craft.navigate.raw('navHandle')|length %}` should return false and thus not render anything

[2019-07-24 10:22] janhenckens commented on #29
Hey @jan-dh, sounds like a good idea.
We usually make 3/4 separate navigations to solve the header/menu problem, but this would be neat too. Then you could add titles on level 0, loop those and get the children on level 1. Does that sound like what you're after?

[2019-07-24 10:23] #28 closed

[2019-07-24 10:29] jan-dh commented on #29
We go for separate navigations for each menu item, what I'm refering to is for example a footer like this:

![image](https://user-images.githubusercontent.com/5801781/61786654-752a6a80-ae0e-11e9-8c52-ddcadec1d674.png)

Each footer item has a title above it, that you can't really fit into the navigation now. Would be nice to have a navigation item type "title", so you can just loop over the nodes a

[2019-07-24 10:49] janhenckens commented on #29
Sounds good!

[2019-07-25 11:39] janhenckens commented on #27
Released in 2.3.0

[2019-07-25 11:39] #27 closed

[2019-07-25 11:40] janhenckens commented on #29
Hey @jan-dh, just released an update with a first attempt at this. Can you give it a try? Feel free to comment or reopen this issue with any feedback!

[2019-07-25 11:40] #29 closed

[2019-07-25 13:02] carolineboeykens commented on #30
It is more the idea that their wouldn't be confusion for the content managers in the control panel. Because they would see this footer navigation but it isn't for site A but for site B.

[2019-07-25 13:28] #22 closed

[2019-07-27 10:50] janhenckens opened #31 "Show site groups in dropdown"
See the select on an entry detail page for example

[2019-07-29 07:26] jan-dh commented on #29
Really nice!

[2019-07-29 07:59] jan-dh opened #33 "craft.navigate.raw sometimes returns false"
Have a multi-site setup (30+ sites), working on a local database.  In a footer, I have set up 4 different navigation items. Only one of them shows up, the rest returns false.

The setup from one of the false ones:

![image](https://user-images.githubusercontent.com/5801781/62031267-3b2edf00-b1e7-11e9-98c1-304c00c71902.png)

[code]

This returns `bool(false)`

Have also tried with single quotes lik

[2019-07-29 08:08] janhenckens commented on #33
First off, could you try cleaning the Navigate cache under Utilities > Clear caches? Just to be sure that this isn't a caching issue (if it is, we'll try and solve that too 🙂)

[2019-07-29 08:19] jan-dh commented on #33
Changing one of the handles fixed it. I guess it was a cache thing 😢. Is there a way to clear caches automatically when adding new handles? Kind of confusing that you still have to do that manually.

[2019-07-29 08:41] janhenckens commented on #33
I try to clear caches when just about anything changes in the navigation from the CP (adding something, changing a title, updating the order, removing an item etc all cause a cache clear & warm).

Did you notice the issue after adding a new site? And what is your workflow with the navigations vs the sites?

[2019-07-29 09:28] jan-dh commented on #33
I added the navigations to existing sites, so no new sites were added. The navigation is unique for each site and exists on all sites.

[2019-07-29 09:42] janhenckens commented on #33
Gotcha, thanks for the extra info! I'll try to get a test setup with 10+ sites up & running this week to see if I can reproduce this.

[2019-07-29 09:49] jan-dh commented on #33
Thanks! If I run into this again, I'll try to provide some more info.

[2019-08-19 11:39] jan-dh opened #34 "FR: show uri for selected entries/categories"
It sometimes happens that clients name a page the same thing twice in a website. So without having any info on the uri, it's very much a trial and error to see what entry you are selecting.

[2019-08-19 11:43] janhenckens commented on #34
In the entries modal you mean? Or on the navigation page itself?

[2019-08-19 12:00] jan-dh commented on #34
In the navigation page itself would be perfect

[2019-08-19 12:55] janhenckens commented on #34
Should be easy enough 👍 Coming soon to a plugin store near you 😉

[2019-08-19 13:30] jan-dh commented on #34
Awesome!

[2019-08-29 18:45] janhenckens commented on #34
Done!

<img width="457" alt="Screenshot 2019-08-29 at 20 45 03" src="https://user-images.githubusercontent.com/755428/63967523-ea3c3000-ca9d-11e9-803d-50322646db4b.png">

Adding another feature and hoping to have both out by Monday!

[2019-09-02 18:37] janhenckens commented on #30
Just released this, could you give it a try @carolineboeykens? Happy to look at any feedback/issues you might have 🙂

[2019-09-02 18:37] #30 closed

[2019-09-02 18:37] #31 closed

[2019-09-02 18:37] janhenckens commented on #34
Out in 2.4.0!

[2019-09-02 18:37] #34 closed

[2019-11-05 09:31] boldenamsterdam opened #35 "Feature request, select entries from other sites"
First of all, the current plugin works really nice!
We are using it in a multi-site environment.

One small improvement we would like to see, is the possibility to select entries from other sites.
For multi-site environments this can sometimes be really handy.

[2019-11-05 09:57] janhenckens commented on #35
Hey there!
Thanks for getting in touch, that sounds like something that should be possible.
I'll have a look at how that would work vs site permissions for the current user, but Craft should have us covered there.

I'll keep you posted!

[2019-12-10 08:55] thefubon opened #36 "node.active not working"
```{% if node.active %}uk-active{% endif %}```
If I create a normal URl mnu, node.Active is not added to me

[2019-12-10 08:56] thefubon commented on #36
<img width="556" alt="Снимок экрана 2019-12-10 в 11 55 45" src="https://user-images.githubusercontent.com/43171309/70514123-07c07180-1b44-11ea-907d-460b71dc46dd.png">

[2019-12-10 09:01] janhenckens commented on #36
Hey there, could you also add the url which you're on when trying this?

[2019-12-10 09:02] thefubon commented on #36
[](https://monopixel.ru/games)

[2019-12-10 09:03] thefubon commented on #36
Entry menu  - it works

[2019-12-10 09:04] thefubon commented on #36
[code]

[2019-12-10 09:05] janhenckens commented on #36
Is the item in the navigation a link to an entry or to a manually added url?

[2019-12-10 09:12] thefubon commented on #36
URL
<img width="850" alt="Снимок экрана 2019-12-10 в 12 11 34" src="https://user-images.githubusercontent.com/43171309/70515364-45be9500-1b46-11ea-8379-4fbcef01f82a.png">

[2019-12-10 09:16] janhenckens commented on #36
Ok, I'll investigate & get back to you asap!

[2019-12-10 09:17] thefubon commented on #36
thanks

[2019-12-11 20:01] janhenckens commented on #36
Hey @thefubon, I just released an update to fix this. Can you update & try again? Thanks!

[2019-12-11 20:02] janhenckens commented on #35
Hey @boldenamsterdam, I totally lost track of this issue, sorry about that. Just released an update that includes this.

[2019-12-11 20:02] #35 closed

[2019-12-12 07:41] thefubon commented on #36
Thanks, Now everything works. Only there is one problem as in other navigation plugins. Work only in the default language. If I change the language of the site, the active menu class is not displayed.

[2019-12-12 08:05] janhenckens commented on #36
Is the link & menu item the same for the other language? If you could post the same info as above for the second language that would help a lot to reproduce & debug :)

[2019-12-12 08:11] thefubon commented on #36
Maybe I'm doing something wrong. But my menu is different. If I make the same links. Switching to the EN version will not work for me
![menu](https://user-images.githubusercontent.com/43171309/70694187-13d93a00-1cd0-11ea-818b-28f2de6f12ce.png)

[2019-12-12 08:43] janhenckens commented on #36
Could you also add the HTML you see on the English menu?

[2019-12-12 08:45] thefubon commented on #36
Standard code from the documentation
[code]

[2019-12-12 08:56] thefubon commented on #36
What is missing is a variable that would add a link to the language inside the menu
```href="{{ node.url }}"```

[2019-12-12 08:57] thefubon commented on #36
site.com/menu-link (site.com**/en/**menu-link)

[2019-12-12 08:57] janhenckens commented on #36
I was referring to the html of the English page when you inspect it. Thanks!

[2019-12-12 08:59] thefubon commented on #36
Please tell me where to look?

[2019-12-12 09:24] janhenckens commented on #36
Like the comment you posted earlier(https://github.com/studioespresso/craft3-navigate/issues/36#issuecomment-563932550). On the frontend of the English page, use the inspect function in your browser and there I need the navigation item that should be active.

[2019-12-12 09:40] thefubon commented on #36
https://github.com/thefubon/craftcms/tree/master/craft/templates

[2019-12-12 09:47] thefubon commented on #36
https://github.com/thefubon/craftcms/blob/master/craft/templates/_layout.twig

191 lines

[2019-12-12 10:07] janhenckens commented on #36
@thefubon That is the twig template. In my comment I mentions the actual html in your browser, could you supply that? That way I can check the url you have in the CP versus the url that is in the navigation on the page itself.

[2019-12-12 11:31] thefubon commented on #36
<img width="519" alt="Снимок экрана 2019-12-12 в 13 21 38" src="https://user-images.githubusercontent.com/43171309/70708669-219cb880-1cec-11ea-9e3b-8ba238508835.png">

[2019-12-12 11:32] thefubon commented on #36
<img width="521" alt="Снимок экрана 2019-12-12 в 13 21 52" src="https://user-images.githubusercontent.com/43171309/70708684-282b3000-1cec-11ea-9c12-d0861e687035.png">

[2019-12-12 11:32] thefubon commented on #36
<img width="1369" alt="Снимок экрана 2019-12-12 в 13 22 08" src="https://user-images.githubusercontent.com/43171309/70708700-2eb9a780-1cec-11ea-8280-f1e075bd9ed0.png">

[2020-01-22 14:33] janhenckens opened #37 "Navigations enabled for only 1 site shouldn't show a dropdown"

[2020-02-28 09:54] janhenckens opened #38 "Don't cache urls with tokens"

[2020-02-29 16:44] jan-dh opened #39 "FR: don't return node if it's not type heading and has no url"
At this point, we're having a customer removing entries from the CMS without adjusting the navigation. Templating breaks since, the navigation still shows the entry, but without uri. Is it possible to not return entries if the type is `entry` and it has no valid url?

[2020-03-02 15:19] maxpdesign opened #40 "Nodes in CP don't link to their edit page when disable in the primary site"

[2020-03-02 15:35] janhenckens commented on #39
Hey Jan! Valid point.

Here's how I'd like to solve it:
- when an entry is removed, we also remove the navigation item
- when an entry is disabled, we disabled the navigation item

I have a couple of other fixes in the pipeline for a release, I'll try to add this so it's out soon!

[2020-03-02 15:36] janhenckens commented on #38
This one is fixed and will be included in the next release.

[2020-03-02 16:55] jan-dh commented on #39
Sound good!

[2020-03-03 18:43] janhenckens commented on #40
Fixed! Will be included in the next release.

[2020-03-04 14:12] janhenckens opened #41 "Add field to select navigation"

[2020-03-04 18:29] janhenckens commented on #40
Just released version 2.5.0, which includes this fix.

[2020-03-04 18:29] #40 closed

[2020-03-04 18:29] janhenckens commented on #38
Just released version 2.5.0, which includes this fix.

[2020-03-04 18:29] #38 closed

[2020-03-04 18:29] #41 closed

[2020-03-09 12:39] jan-dh opened #42 "Error: Impossible to access an attribute ("id") on a null variable in "navigate/_includes/_node"."
Since the last update I get this error when I try to access one of the menu's:

```Error: Impossible to access an attribute ("id") on a null variable in "navigate/_includes/_node".```

![image](https://user-images.githubusercontent.com/5801781/76213309-b428f700-620a-11ea-97a8-b044849d6595.png)

[2020-03-09 20:38] janhenckens commented on #42
Hey @jan-dh, not sure where that's happening. Could you post the full stack dump? Thanks!

[2020-03-12 10:26] janhenckens commented on #42
Hey @jan-dh, just released an update that fixes this, sorry about the trouble!

[2020-03-12 10:26] #42 closed

[2020-03-12 11:56] jan-dh commented on #42
Thanks!

[2020-03-19 07:56] jan-dh opened #43 "FR: make caching optional"
While the caching is really nice, in some scenario's you want to avoid it. Would be nice if you could add a param to set it to false.

[2020-03-19 09:14] janhenckens commented on #43
Right now the plugin will only cache when devMode is **not** enabled. Adding a way to overwrite that would be nice to have. I'll have a look!

[2020-03-25 08:04] nflorentin opened #44 "Installation failed because of the DB migration"
Hi,

First, thanks you for your work on this plugin.

The installation of the plugin fails because of an error during installation (running `./craft install/plugin navigate` command).

I got the following error:
[code]

I think the migration works for MySQL but not for Postgresql. Boolean columns in postgres only accepts the following values: "t", "f", "true", "false", "y", "n", "yes", "no", "1",

[2020-03-25 08:28] janhenckens commented on #44
Hey @nflorentin, thanks for reporting that. I haven't tested with Postgresql so that's probably the issue.
I'll try to get an update out by this evening!

[2020-03-25 16:13] janhenckens commented on #44
Fixed in 2.5.2. Could you update and give it another try? Thanks!

[2020-03-25 16:13] #44 closed

[2020-03-26 08:01] nflorentin commented on #44
Hi Janhenckens!
Thanks you for your reactivity. It is now working well 👍.
Have a nice day!

[2020-03-26 09:38] janhenckens opened #46 "Add placeholder methods for when migrating from amNav"
- listClass -> classes
- hasChildren - > children

[2020-03-26 10:03] nflorentin opened #47 "Same nav on multiple sites"
Hi,

I don't find how to have automatically the same nav on multiple sites. I'm developing a project available in 2 languages so I have 2 sites. My navigation will be the same on both sites, so I wonder if it is possible to have the second site using the exact same nav as the first one without having to make two times the same configuration.

I think that the plugin does not have this feature. Per

[2020-03-26 13:42] janhenckens commented on #47
Hey! You're right, that's not possible right.
Off the top of my head, here's how I'd like to solve it: make `craft.navigate.getRaw()` take a second option parameter where you can pass the site it. If you don't pass anything there, we'll use the current site.
In your case you could do  `craft.navigate.getRaw('handle', craft.app.sites.getPrimarySite().id)` and that should do the trick.

Does that so

[2020-03-27 07:49] nflorentin commented on #47
Janhenckens, that's a perfect solution and not hacky at all :).
Thanks you very much!

[2020-03-28 09:34] #37 closed

[2020-03-28 09:40] janhenckens commented on #47
@nflorentin included in today's update, can you give it a try? Thanks!

[2020-03-28 09:40] #47 closed

[2020-03-28 11:24] #46 closed

[2020-08-27 09:04] jan-dh commented on #43
Would love to see this option implemented, if possible on a menu level. This plugin doesn't play nice with Blitz cache, since updating a menu, doesn't trigger blitz to purge caches.

[2020-08-28 14:55] janhenckens commented on #43
Hey @jan-dh. The plugin has a hook for Blitz but that'll probably only work with Blitz 2, not with the latest.
I have some time this weekend, will try to add it first thing!

[2020-08-29 17:51] janhenckens commented on #43
Fixed in 2.7.0! See the docs [here](https://github.com/studioespresso/craft3-navigate#disabling-caching).

[2020-08-29 17:51] #43 closed

[2020-08-31 06:44] jan-dh commented on #43
Sweet! Thanks for the quick reply!

[2020-09-01 08:41] jan-dh opened #49 "Docs: document the config file"
Maybe for the completeness of the docs it might be a good idea to mention the config file has to be made inside the config folder with the name navigate.php. Nice job with the config file 👍

[2020-09-04 08:03] jan-dh opened #50 "FR: change menu's order"
Would be nice if we could change the order in which the menu's are presented so you can group them up to look a little bit more logical for the clients.

[2020-10-26 21:00] brandonkelly opened #51 "Fix Composer 2 compatibility"
When installing this plugin with Composer 1, the following deprecation notice is output:

Composer 2 was released on October 24, and is now the default version that will be installed, so it’s critical that this gets resolved ASAP, or people will start getting `Class not found` errors.

To fix, run the following command:

[code]

Then commit your change and [tag a new release](https://craftcms.com/

[2020-10-26 21:09] janhenckens commented on #51
Thanks for that, fixed in 2.7.2

[2020-10-26 21:09] #51 closed

[2020-10-26 21:11] brandonkelly commented on #51
Thanks Jan!

[2020-11-02 08:16] robinbraibant opened #52 "ErrorException when accessing a Navigation item"
When I enter the Navigate plugin in the Craft backend, and try to enter an item. I get the following error:
`yii\base\ErrorException: Trying to access array offset on value of type bool in /data/sites/web/shiclalivestatikbe/subsites/shicla.live.statik.be/vendor/studioespresso/craft-navigate/src/extensions/NavigateExtension.php:45
Stack trace:
#0 /data/sites/web/shiclalivestatikbe/subsites/shicla.l

[2020-11-02 11:41] janhenckens commented on #52
Fixed in 2.7.3, which is out now!

[2020-11-02 11:41] #52 closed

[2021-01-14 15:52] janhenckens opened #53 "Active state issues with similar urls"
![image](https://user-images.githubusercontent.com/755428/104614800-ddb37a00-5688-11eb-8824-a69c6ff80356.png)

[2021-01-21 13:14] #53 closed

[2021-03-18 09:47] kareljan opened #54 "Query parameters make the active state break."
When you go to http://www.mysite.com/something the "something" item gets the active state.
When you go to http://www.mysite.com/something?search=item, the "something" item does not get the active state.

[2021-03-25 13:13] jan-dh opened #55 "Question: write content migrations"
Was wondering if you 'd have an example laying around for content migration for a navigation.

[2021-03-26 14:06] J-Protz opened #56 "Cannot re-order top level nodes with several levels of children"
Craft Version:Craft Pro 3.4.6
Navigate Version: 2.7.0 (Was previously on 1.2, updated to try and solve issue)
PHP Version: 7.4.12
MYSQL: 5.7.31

Navigate.php:

[code]

I have a navigation menu like this:
<img width="1068" alt="Screen Shot 2021-03-26 at 10 01 35 AM" src="https://user-images.githubusercontent.com/70289763/112643002-430ab080-8e1a-11eb-915d-82f6856eb2ba.png">

And if I try to take the

[2021-03-26 14:55] janhenckens commented on #56
Hey Joe, can you check if there is a JS error on the page when you drag the node?

[2021-03-26 15:02] J-Protz commented on #56
<img width="791" alt="Screen Shot 2021-03-26 at 11 02 01 AM" src="https://user-images.githubusercontent.com/70289763/112651368-b44e6180-8e22-11eb-9c06-a44b616dcb56.png">
Nothing, and I get this 200 OK network request.

[2021-03-26 15:26] janhenckens commented on #56
Strange, I'll try to reproduce and get back to you!

[2021-03-26 15:46] J-Protz commented on #56
Thank you!

Sent from my iPhone

[2021-03-29 18:44] janhenckens commented on #56
Hey @J-Protz, I was able to reproduce this but only when moving the second node to the top and only when both of the them have children. Can you confirm that this is what you're trying to do?

[2021-03-29 19:30] J-Protz commented on #56
I'm having issues re-ordering the very top level nodes. It will say `order updated` but upon refresh, no change. @janhenckens

[2021-03-30 19:42] J-Protz commented on #56
@janhenckens testing on local this seems to have done it! Will let you know if anything changes once pushed to staging/live. Thank you!

[2021-04-08 10:11] jan-dh commented on #54
Experienced a similar issue

[2021-04-13 19:10] J-Protz commented on #56
@janhenckens  just want to update you - all is working :)

[2021-04-18 09:35] janhenckens commented on #56
Thanks for the update @J-Protz :)

[2021-04-18 09:35] #56 closed

[2021-04-18 09:37] janhenckens commented on #55
Hey Jan,

Have a look at this migration that is included for upgrades from Craft 2 sites with AmNav:

Here we create a navigation: https://github.com/studioespresso/craft3-navigate/blob/master/src/migrations/upgrades/amNav.php#L27, and here we add the nodes https://github.com/studioespresso/craft3-navigate/blob/master/src/migrations/upgrades/amNav.php#L63

Happy to write out a more specific exampl

[2021-04-18 10:27] jan-dh commented on #55
This is perfect

[2021-04-18 10:27] #55 closed

[2021-04-18 10:31] janhenckens commented on #54
Hey @jan-dh  & @kareljan , this should be fixed in that's release!

[2021-04-18 10:31] #54 closed

[2021-04-18 10:33] janhenckens commented on #55
Cheers! Feel free to chat me if you think I can help out :)

[2021-04-18 10:33] #49 closed

[2021-07-16 11:51] janhenckens opened #57 "FR: Specify list of available classes that can be selected on a node"

[2021-07-16 11:56] #36 closed

[2021-07-16 12:42] dave-agilepixel commented on #57
A quick fix I've popped in for the moment is along the lines of

[code]

in the _editor.twig file

I'm not sure how to get that into an external config file, but it works exactly as required

[2021-07-18 10:17] janhenckens commented on #39
Out in 2.8.

[2021-07-18 10:17] #39 closed

[2021-07-18 10:18] janhenckens commented on #57
Hey @dave-agilepixel, this is included in today's release. You can find the docs on it [here](https://github.com/studioespresso/craft3-navigate/tree/develop#css-class-option-list).

Can you give it a try? Feel free to get back to me if you run into any issues!

[2021-07-18 10:26] janhenckens opened #58 "Move edit permissions to Craft users and add edit permissions per nav"

[2021-07-18 10:26] #57 closed

[2021-07-18 10:28] dave-agilepixel commented on #57
@janhenckens That works perfectly, super easy to setup and use, thanks so much!

[2021-07-18 10:29] janhenckens commented on #57
Cheers!

[2021-12-08 09:53] janhenckens opened #59 "Hide navigation settings when project config is in read-only mode"

[2022-03-13 08:44] #33 closed

[2022-03-13 08:56] #59 closed

[2022-03-13 08:56] janhenckens commented on #59
Released in 2.9.0

[2022-03-18 19:19] J-Protz opened #62 "Is there a ay to duplicate an entire navigation?"
I need to separate a nav into a main and footer nav with 99% the same nodes, I was hoping to dup and go from there.

[2022-03-19 08:51] janhenckens commented on #62
Hey @J-Protz, I can definitely see cases where that would be useful (probably could have used it myself in the past if I'm honest).

Adding it to the list for a future update!

[2022-03-19 08:52] janhenckens commented on #50
Hey @jan-dh, I'm going to close this issue, don't want to a add the complexity of a sortable view on the navigations overview.

[2022-03-19 08:52] #50 closed

[2022-04-25 13:05] carolineboeykens opened #63 "Styling in Craft 3.7.38"
Something went wrong here. Could you check it out?

![Screenshot 2022-04-25 at 15 04 14](https://user-images.githubusercontent.com/42932673/165094918-379874ab-4c5a-49d0-b26d-6fa2d4311388.png)

Craft: 3.7.38
Navigate: 2.9.0

[2022-04-25 13:38] janhenckens commented on #63
Hmm, That's strange :) Thanks for reporting, I'll have a look!

[2022-05-16 18:25] robinbraibant opened #64 "Runtime error after installing in Craft 4"
After installing the plugin in Craft 4.0.2. you get following error when you click the Navigate menu item in the control panel.

<img width="673" alt="Screenshot 2022-05-16 at 20 21 21" src="https://user-images.githubusercontent.com/32429797/168658116-e9ca4968-5a08-44aa-afa2-e6d783d9c8fd.png">

You are using `craft.config.allowAdminChanges`, but craft.config has been deprecated. The current implem

[2022-05-18 16:57] #64 closed

[2022-05-18 16:57] janhenckens commented on #64
Thanks for reporting this @robinbraibant, fixed in 3.0.1.

[2022-06-13 14:42] robinbraibant opened #65 "Bug in code"
There is a bug in the code when a project has multiple sitegroups but the plugin only has to use one sitegroup.
In the _templates/_includes/_sites.twig file you end up in the else on line 7.
In the for loop, no sitegroups will be added to the the array sitegroups, due the following code:

https://github.com/studioespresso/craft3-navigate/blob/af2e0711d83776647e86f89268069ec4e9efc3ff/src/templates/

[2022-10-10 12:30] HannahDeWachter opened #66 "Create navigations on read-only environments"

[2022-10-10 18:07] janhenckens commented on #66
Added a setting for this in 3.0.2. Can you update, enable it and give it a try?

[2022-10-11 05:50] HannahDeWachter commented on #66
Hi @janhenckens, is it also possible to add it to the Craft 3 version of the plugin?
Thanks 😄

[2022-11-28 09:16] SermonB opened #67 "Unable to locate message source for category 'navigate'."
I updated craft from 3 to 4 and also update navigate and this message shows now.